@import url('https://fonts.googleapis.com/css2?family=Cardo&family=Josefin+Sans:wght@300;600&display=swap');


* {
    margin: 0;
    padding: 0;
    border: 0;
}
/*-------------------------------Fonts */

body {
    font-family: 'Cardo', serif; 
    font-size: 15px;
}

header {
    font-family: 'Josefin Sans', sans-serif;
}

/*-------------------------------Links */

a {
    color: black;
}

a:hover {
    color: red;
    text-decoration: none;
}
/*-------------------------------Navigation */

nav {
    position: static;
    padding-bottom: 2%;
}

#navbar-brand {
    font-weight: 300;
    font-size: 60px;
    text-align: center;
}

#navbar-menu {
    font-weight: 600;
    font-size: 22.5px;
    text-align: center;
}

 #navbar-items {
     padding: .75em;
 }

 .navbar {
     padding: 2%;
 }

/*-------------------------------Contact form */

fieldset {
    margin: 15rem 5rem 10rem 5rem;  
}

textarea {
    width: 300px;
    height: 150px;;
}

#fname,
#lname,
#email {
    border-style: none;
}

/*-------------------------------Footer */

i {
    font-size: 200%;
}

footer {
     position: static;
     padding-top: 2%;
}

/*----------------------------Media Queries */



@media (min-width: 576px) {
}


@media (min-width: 768px) {
}


@media (min-width: 992px) { 
}


@media (min-width: 1200px) {
}
