@import url('https://fonts.googleapis.com/css2?family=Cardo&family=Josefin+Sans:wght@300;600&display=swap');


* {
    margin: 0;
    padding: 0;
    border: 0;
}

/*-------------------------------Navigation */

.navbar {
    padding: 0;
    border-top: 10px solid #fff;
    border-left: 15px solid #fff;
    border-right: 15px solid #fff;
}

.nav-item {
    font-size: 1.25rem;
}

#nav{
    background-color: #fff;
}

/*-------------------------------Fonts */

header,
body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1rem;
}

/*-------------------------------Links */

a {
    color: black;
}

a:hover {
    color: grey;
    text-decoration: none;
}

/*-------------------------------Index */

.carousel-inner {
    padding-right: 1em;
    padding-left: 1em;
}

.carousel-item {
    width: fit-content;
    height: fit-content;
}

#index-text {
    margin-top: 2rem;
}

#index-carousel {
    margin-top: 6rem;
    margin-bottom: 6rem;
}
/*-------------------------------About */

.card {
    width: 18rem;
    border-style: none;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
}

#about {
    margin-top: 8rem;
    margin-bottom: 6rem;
}

#elhammer-picture {
    max-height: 400px;
    max-width: 450px;
}

/*-------------------------------Contact form */

fieldset {
    margin-top: 5rem;
}

legend {
    text-align: center;
}

textarea {
    width: 90%;
    height: 75px;
}

#contact-form {
    margin-top: 3rem;
    margin-bottom: 5rem;
}

textarea,
#name,
#email {
    border-style: none;
    border-bottom: .5px solid #000 !important;
}

/*-------------------------------Portfolio */


/* CODE FROM W3 https://www.w3schools.com/howto/howto_js_slideshow.asp */
* {box-sizing: border-box}
.mySlides1, .mySlides2 {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 450px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a grey background color */
.prev:hover, .next:hover {
  background-color: #f1f1f1;
  color: black;
}
/* END CODE FROM W3 */

.mySlides1,
.mySlides2 {
    margin-bottom: 2rem;
}

#portfolio {
    margin: 6rem auto;
}

/*-------------------------------Footer */

i {
    font-size: 2rem;
}

footer {
    padding-top: 1em;
    border-bottom: 5px solid #fff;
    border-left: 15px solid #fff;
    border-right: 15px solid #fff;
    position: static;
    background-color: #fff;
    bottom-margin: 0;
}

/*----------------------------Media Queries */


/* Extra small devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap */
@media (max-width: 425px) {
    #index-text {
        margin: 2rem 0 1rem 0;
    }

    #index-carousel {
        margin-top: 7.5rem 0 6rem 0;
    }

    #nav{
        background-color: #fff;
        padding-bottom: 1em;
    }
}

/* SM all devices (landscape phones, 576px and up) */
@media (min-width: 576px) { ... }

/* MD devices (tablets, 768px and up) */
@media (min-width: 768px) { ... }

/* LG devices (desktops, 992px and up) */
@media (min-width: 992px) { ... }

/* XL devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { ... }
