@import url('https://fonts.googleapis.com/css2?family=Cardo&family=Josefin+Sans:wght@300;600&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

/*--------------------------------------Navigation */

.navbar {
    padding: 0;
    border-top: 10px solid #fff;
    border-left: 15px solid #fff;
    border-right: 15px solid #fff;
}

.nav-item {
    font-size: 1.25rem;
}

#nav{
    background-color: #fff;
}

/*-------------------------------------------Fonts & colors */

header,
body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1rem;
}

h3,
a,
a:hover {
    color: #4F4F4F;
    text-decoration: none;
}

/*----------------------------------------------Index */

.fa-chevron-left,
.fa-chevron-right {
    color: #000;
    background-color: #fff;  
    border: 15px solid #fff; 
}

.carousel {
    transition-timing-function: ease-in-out;
}

.carousel-inner {
    padding: 0 1em;
}

.carousel-item {
    width: fit-content;
    height: fit-content;
}

#index-text {
    margin-top: 2rem;
}

#index-carousel {
    margin: 6rem 0;
}

/*------------------------------------------------About */

.card {
    border-style: none;
    align-items: center;
}

.card-body {
    max-width: 425px;
    padding: 1em 0;
}

p a { 
    text-decoration: underline; 
    text-decoration-color: rgba(0,0,0,.5); 
}

#about {
    margin-top: 8rem;
    margin-bottom: 6rem;
}

#about-text {
    margin-top: 1.25rem;
}

#elhammer-picture {
    max-height: 425px;
    max-width: 425px;
}

/*----------------------------------------------Contact form */

textarea {
    width: 90%;
    height: 75px;
}

textarea,
#name,
#email {
    border-style: none;
    border-bottom: .5px solid #000 !important;
    margin: .75rem;
}

#name,
#email {
    width: 75%;
}

.form-group,
#contact-btn {
    padding: .5em;
}

#contact-btn:hover {
    background-color:  #000;
}

#contact-container {
    margin: 8rem 0;
}

#contact-text {
    margin-top: 1rem;
}

#contact-form {
    max-width: 330px;
}

#interest1,
#interest2 {
    margin: 1rem;
}

/*-------------------------------------------------Portfolio */

.portfolio-img {
   max-width: 100px;
   max-height: 100px;
   margin: .25rem;
   padding: 0;
   border: 0;
}

#portfolio-text {
    margin-top: 2rem;
}

#portfolio {
    margin: 6rem auto;
}

#portfolio-box {
    max-width: 650px;
    max-height: 650px;
    overflow: auto;
}

/*-------------------------------Footer */

i {
    font-size: 2rem;
    color: rgba(0,0,0,.5);
}

i:hover {
    color: #000;
}

footer {
    padding-top: 1em;
    border-bottom: 5px solid #fff;
    border-left: 15px solid #fff;
    border-right: 15px solid #fff;
    position: static;
    background-color: #fff;
}

/*----------------------------Media Queries */

@media (max-width: 425px) {

    #portfolio-text,
    #index-text {
        margin: 2rem 0 1rem 0;
    }

    #index-carousel {
        margin: 7.5rem 0 6rem 0;
    }

    #contact-container {
        margin: 8rem 0 6rem 0;
    }

    #nav{
        background-color: #fff;
        padding-bottom: 1em;
    }

}

@media (min-width: 768px) {

    .card-body {
        max-width: 425px;            
        padding: 1em 0;
    }

}

@media (max-width: 768px) { 

    h2, 
    h3 {
        text-align: center;
    }
    
    #portfolio-box,
    #portfolio {
        margin-left: auto;
        margin-right: auto;
    }

    #portfolio-text,
    #index-text,
    #about-text,
    #contact-text {
        text-align: center;
    }

}